{% load form_tags i18n static %}

{% if field.field.upload_to %}
  <div data-ajax-upload="{{ field.field.upload_to }}">
{% endif %}

<label class="label" for="{{ field.id_for_label }}">
  {{ field.label }}
  {% include "form/field/required.html" %}
</label>

{% if field.field.upload_to %}
  <div class="row sm-gutters">
    <div class="col-12 col-sm">
{% endif %}

<div class="custom-file">
  {{ field }}
  <div class="custom-file-label">{% trans "Choose file ..." %}</div>
  {% include "form/error_text.html" %}
  {% include "form/help_text.html" %}
</div>

{% if field.field.upload_to %}
      </div>
      <div class="col-12 col-sm-auto mt-1 mt-sm-0">
        <button class="btn btn-secondary disabled w-100">{% trans "Upload" %}</button>
      </div>
    </div>
    <ul class="list-unstyled mt-1" data-progress-items hidden>
      <li data-progress-item>
        <div class="align-items-center row sm-gutters">
          <div class="col">
            <div class="row">
              <div class="col text-truncate">
                <small>%filename</small>
              </div>
              <div class="col-auto ml-auto">
                <small><span data-current-file-size>0</span> {% trans "from" %} %filesize</small>
              </div>
              <div class="col-12">
                <div class="mb-1 progress">
                  <div aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="progress-bar" data-progress-bar role="progressbar"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-auto mb-1">
            <a aria-label="{% trans "Cancel file upload" %}" class="d-block invisible" data-cancel-upload href="#">
              <svg class="icon icon-danger" role="presentation">
                <use xlink:href="{% static "img/sprite.symbol.svg" %}#close-circle"></use>
              </svg>
            </a>
            <svg class="d-none icon icon-success" data-upload-finished role="presentation">
              <use xlink:href="{% static "img/sprite.symbol.svg" %}#check-circle"></use>
            </svg>
          </div>
        </div>
      </li>
    </ul>
  </div>
{% endif %}
