{% load static %}

<link href="{% static "img/favicons/apple-touch-icon.png" %}" rel="apple-touch-icon" sizes="180x180">
<link href="{% static "img/favicons/favicon-32x32.png" %}" rel="icon" sizes="32x32" type="image/png">
<link href="{% static "img/favicons/favicon-16x16.png" %}" rel="icon" sizes="16x16" type="image/png">
<link href="{% static "img/favicons/site.webmanifest" %}" rel="manifest">
<link color="#EF8333" href="{% static "img/favicons/safari-pinned-tab.svg" %}" rel="mask-icon">
<link href="{% static "img/favicons/favicon.ico" %}" rel="shortcut icon">
<meta content="mal2DB" name="apple-mobile-web-app-title">
<meta content="mal2DB" name="application-name">
<meta content="#ffffff" name="msapplication-TileColor">
<meta content="{% static "img/favicons/browserconfig.xml" %}" name="msapplication-config">
<meta content="#ffffff" name="theme-color">
