{% extends "data_table/base.html" %}

{% load i18n static %}

{% block title %}
  {% trans "Websites (no verification necessary)" %}
{% endblock %}

{% block site_title %}
  {% trans "Websites (no verification necessary)" %}
{% endblock %}

{% block javascript %}
  <script defer src="{% static "js/fancybox/jquery.fancybox.min.js" %}"></script>

  {% if data_table.DEBUG %}
    <script defer src="{% static "/js/datatables/datatables.js" %}"></script>
  {% else %}
    <script defer src="{% static "/js/datatables/datatables.min.js" %}"></script>
  {% endif %}
{% endblock javascript %}
