{% extends "mal2_users/base.html" %}

{% load i18n static %}

{% block title %}
  {% trans "Reset password" %}
{% endblock %}

{% block card_header %}
  {% trans "Reset password" %}
{% endblock %}

{% block card_body %}
  <p>
    {% blocktrans trimmed %}
      <strong>We've emailed you instructions for setting your password.</strong>
      If you <strong>don't</strong> receive an email,
      please make sure you've entered the address you registered with,
      and check your spam folder.
    {% endblocktrans %}
  </p>

  <div class="align-items-center flex-row-reverse row mt-1 sm-gutters">
    <div class="col-auto ml-auto">
      <a class="btn btn-secondary" href="{% url "mal2_db:signin" %}">
        {% trans "Sign in" %}
      </a>
    </div>
  </div>
{% endblock %}
