{% extends "mal2_users/base.html" %}

{% load i18n static %}

{% block title %}
  {% trans "Change password" %}
{% endblock %}

{% block card_classes %}col-12 col-md-10 col-lg-8 mx-auto{% endblock %}

{% block card_header %}
  {% trans "Change password" %}
{% endblock %}

{% block card_body %}
  {% if validlink %}
    <form action="{{ request.get_full_path }}" data-form method="post" novalidate>
      {% csrf_token %}

      <p>
        {% trans "Please enter your new password twice so we can verify you typed it in correctly." %}
      </p>

      {% include "form/snippet.html" %}

      <div class="align-items-center flex-row-reverse row mt-1 sm-gutters">
        <div class="col-auto ml-auto">
          <button class="btn btn-secondary">{% trans "Change password" %}</button>
        </div>
        <div class="col">
          <a href="{% url "mal2_db:signin" %}">
            {% trans "Back to sign in" %}
          </a>
        </div>
      </div>
    </form>
  {% else %}
    <p>
      {% trans "The link was invalid, possibly because it has already been used. Please request a new password reset." %}
    </p>

    <div class="align-items-center flex-row-reverse row sm-gutters">
      <div class="col-auto ml-auto">
        <a class="btn btn-secondary" href="{% url "mal2_db:signin" %}">
          {% trans "Back to sign in" %}
        </a>
      </div>
    </div>
  {% endif %}
{% endblock %}
