{% extends "mal2_users/base.html" %}

{% load i18n static %}

{% block title %}
  {% trans "Password set" %}
{% endblock %}

{% block card_header %}
  {% trans "Password set" %}
{% endblock %}

{% block card_body %}
  <p>
    {% blocktrans trimmed %}
      Your password has been set.
      Feel free to sign in into your account.
    {% endblocktrans %}
  </p>

  <div class="align-items-center flex-row-reverse row mt-1 sm-gutters">
    <div class="col-auto ml-auto">
      <a class="btn btn-secondary" href="{% url "mal2_db:signin" %}">
        {% trans "Sign in" %}
      </a>
    </div>
  </div>
{% endblock %}
